<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	<display-name>painel</display-name>
	<context-param>
		<param-name>database-path</param-name>
		<param-value>C:\Users\FACILIT\Documents\tweent</param-value>
	</context-param>
</web-app>
